@using System.Collections
@{
    ViewData["Title"] = "Environment";
}
<h1>@ViewData["Title"]</h1>

<table>
    @foreach (DictionaryEntry variable in ViewBag.Variables)
    {
        <tr>
            <td>@variable.Key</td>
            <td>@variable.Value</td>
        </tr>
    }
</table>