<div class="text-center">
    <h1 class="display-4">Environment</h1>

    <p>@Html.ValidationMessage("Export")</p>

    <table>
        @foreach (var variable in ViewBag.Variables)
        {
            <tr>
                @if(variable.Key == "WEATHER_API")
                {
                    <td style="font-weight: bold;">@variable.Key</td>
                    <td style="font-weight: bold;">@variable.Value</td>
                }
            </tr>
        }
    </table>
</div>